<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal.dotm</Template>
  <Company>Microsoft</Company>
  <Pages>28</Pages>
  <Words>1092</Words>
  <Characters>6225</Characters>
  <Lines>51</Lines>
  <Paragraphs>14</Paragraphs>
  <TotalTime>9</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>7303</CharactersWithSpaces>
  <Application>WPS Office_7.5.1.8994_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
